/* Variables
----------------------------------------- */
$responsive-width: 640px;



/* Layout
----------------------------------------- */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size:   125%;
}

.container {
  margin: 0 auto;
  max-width: 940px;
  width: 90%;
  overflow: hidden;
}

h1 {
  color: rgba(0, 0, 0, .3);
  font-weight: bold;
  font-size: 2em;
}

.column {
  float: left;
  margin-left: 3%;
  &:first-child {
    margin-left: 0;
  }
  &.one-third {
    width: 31.3%;
  }
  &.two-thirds {
    width: 65.6%;
  }
  &.half {
    width: 48.5%;
  }
}

.row {
  margin-bottom: 1em;
  overflow: hidden;
}

/* Navbar
----------------------------------------- */

nav {
  background-color: #333;
}

nav ul {
  overflow: hidden;
  padding:  0;
  margin:   20px 0;
}

nav li {
  color:      #fff;
  float:      left;
  display:    inline-block;
  list-style: none;
  margin-left: 0.75em;
  &:first-child {
    margin-left: 0;
  }
}

/* Hero
----------------------------------------- */

.hero {
  background-color: #777;
  margin-bottom: 2em;
  padding: 1em 0;
}

.hero .row {
  margin-bottom: 0;
}

.hero h1 {
  margin-top: 2.5em;
}

/* Responsive
----------------------------------------- */
@media screen and (max-width: $responsive-width) {
  body {
    font-size: 100%;
  }

  .column {
    &.one-third,
    &.half,
    &.two-thirds {
      margin: 0 0 1em 0;
      width: 100%;
    }
  }

  .row .column:last-child {
    margin-bottom: 0;
  }

  nav li {
    float:         none;
    display:       block;
    margin-left:   0;
    text-align:    center;
    border-bottom: 1px solid #999;
    padding:       0.5em 0;
    &:last-child {
      border-bottom: none;
    }
  }

  .hero h1 {
    margin-top: 0;
  }
}
