/* Layout
----------------------------------------- */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size:   125%;
}

.container {
  margin: 0 auto;
  max-width: 940px;
  width: 90%;
  overflow: hidden;
}

h1 {
  color: rgba(0, 0, 0, .3);
  font-weight: bold;
  font-size: 2em;
}

.column {
  background: red;
  float: left;
  margin-left: 3%;
  &:first-child {
    margin-left: 0;
  }
  &.one-third {
    width: 31.3%;
  }
  &.two-thirds {
    background: green;
    width: 65.6%;
  }
  &.half {
    background: blue;
    width: 48.5%;
  }
}

.row {
  margin-bottom: 1em;
  overflow: hidden;
}

/* Columns
----------------------------------------- */
@media screen and (max-width: 640px) {
  body {
    font-size: 100%;
  }

  .column {
    &.one-third,
    &.half,
    &.two-thirds {
      margin: 0 0 1em 0;
      width: 100%;
    }
   }

   .row .column:last-child {
     margin-bottom: 0;
   }
 }
