---
title: Responsive
---
<div class="row">
  <div class="column one-third">
    <h1>One Third</h1>
    <p>More stuff goes here!</p>
  </div>

  <div class="column one-third">
    <h1>One Third</h1>
    <p>More stuff goes here!</p>
  </div>

  <div class="column one-third">
    <h1>One Third</h1>
    <p>More stuff goes here!</p>
  </div>
</div>

<div class="row">
  <div class="column half">
    <h1>Half</h1>
    <p>More stuff goes here!</p>
  </div>

  <div class="column half">
    <h1>Half</h1>
    <p>More stuff goes here!</p>
  </div>
</div>

<div class="row">
  <div class="column two-thirds">
    <h1>Two Thirds</h1>
    <p>More stuff goes here!</p>
  </div>

  <div class="column one-third">
    <h1>One Thirds</h1>
    <p>More stuff goes here!</p>
  </div>
</div>
