---
title: Responsive
---
<div class="row">
  <div class="column one-third">
    <h1>Hi there</h1>
    <p>More stuff goes here!</p>
  </div>

  <div class="column one-third">
    <h1>Hi there</h1>
    <p>More stuff goes here!</p>
  </div>

  <div class="column one-third">
    <h1>Hi there</h1>
    <p>More stuff goes here!</p>
  </div>
</div>
