---
title: Full Layout
layout: full-layout
---

<nav>
  <div class="container">
    <ul>
      <li>Home</li>
      <li>Page 1</li>
      <li>Page 2</li>
      <li>Page 3</li>
    </ul>
  </div>
</nav>

<div class="hero">
  <div class="container">
    <div class="row">
      <div class="column half">
        <h1>Hero goes here!</h1>
      </div>
      <div class="column half">
        <img src="/images/bananacat.jpg" />
      </div>
    </div>
  </div>
</div>

<div class="hero">
  <div class="container newswrapper">
    <p>cotton candy ice cream jelly cookie. Pastry icing donut. Powder donut chupa chups pudding tiramisu applicake bear claw topping applicake. Gummies chocolate cookie. Pastry sweet roll powder cupcake macaroon marshmallow wafer candy toffee. Jujubes cookie chocolate cake. Oat cake cookie apple pie. Jelly beans carrot cake cookie croissant carrot cake gingerbread cheesecake cotton candy. Bear claw macaroon chocolate bar. Fruitcake lollipop cake lollipop marzipan sweet roll tart icing tiramisu. Lemon drops biscuit lemon drops gummies sweet roll. Chocolate bar unerdwear.com pie pastry gummi bears dragée.</p>
    <p>Soufflé gingerbread jujubes jujubes applicake tart chocolate bar cheesecake. Chupa chups dessert sweet roll pudding candy tiramisu oat cake applicake. Soufflé dessert muffin chocolate macaroon danish. Jujubes croissant chocolate icing toffee pastry chupa chups halvah. Brownie pie donut lemon drops fruitcake tiramisu brownie dragée. Soufflé jelly beans sweet roll. Tiramisu candy canes carrot cake. Soufflé sweet muffin. Caramels cake caramels jelly-o gummi bears sesame snaps halvah oat cake. Oat cake chocolate bar dessert tart tiramisu liquorice candy canes pudding apple pie. Toffee tootsie roll icing pie dessert. Lollipop jelly-o caramels ice cream croissant chocolate cake.</p>
    <p>Chocolate cake biscuit marshmallow pie cupcake muffin. Pastry sweet chupa chups. Apple pie candy canes cookie chocolate bar ice cream jelly-o candy canes. Tootsie roll bonbon powder unerdwear.com cheesecake. Pastry apple pie donut ice cream powder gingerbread chocolate bar applicake chupa chups. Gummi bears cotton candy icing dessert jelly-o marzipan cake pastry. Powder fruitcake danish jujubes caramels gummies caramels caramels gummies. Muffin tootsie roll sesame snaps bonbon dragée fruitcake caramels donut. Danish tiramisu chupa chups icing jelly soufflé. Pudding cotton candy jelly croissant. Toffee sesame snaps sweet chocolate candy powder danish cotton candy. Sweet roll liquorice candy canes sesame snaps applicake chocolate cake apple pie gummi bears toffee.</p>
    <p>Tart topping lollipop soufflé sweet. Powder pie lollipop liquorice croissant candy pastry gingerbread. Chocolate bar bear claw jelly gummi bears cotton candy toffee jelly cake. Pie cotton candy macaroon tiramisu jelly-o. Jujubes pudding gummi bears candy canes jelly tiramisu icing caramels. Wafer tiramisu croissant cake pastry tart croissant. Pastry icing gingerbread cupcake. Cookie sugar plum chocolate cupcake carrot cake fruitcake pie. Donut unerdwear.com apple pie caramels bonbon macaroon chocolate. Fruitcake jelly beans jujubes. Donut halvah tootsie roll chocolate cake jelly-o danish bonbon bear claw. Croissant marshmallow tiramisu macaroon gingerbread halvah icing. Toffee croissant cotton candy ice cream jujubes lemon drops. Sesame snaps pudding soufflé.</p>
    <p>Jujubes apple pie muffin unerdwear.com. Chocolate chupa chups tootsie roll chocolate cake dessert jelly caramels unerdwear.com halvah. Tootsie roll chocolate donut. Jelly-o marzipan gummi bears toffee pie chupa chups. Lollipop chocolate pastry dragée sugar plum tart bonbon tiramisu tootsie roll. Topping halvah dragée gummies. Ice cream icing halvah cake jelly beans liquorice. Bear claw cotton candy fruitcake powder cupcake danish jujubes marshmallow. Dessert gummies gummies caramels marzipan. Marzipan jujubes powder bonbon applicake. Sweet roll tiramisu jelly jelly-o carrot cake candy canes cake. Cake marzipan unerdwear.com gummies jelly beans halvah. Fruitcake caramels candy canes.</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="column one-third">
      <h1>One Third</h1>
      <p>More stuff goes here!</p>
    </div>

    <div class="column one-third">
      <h1>One Third</h1>
      <p>More stuff goes here!</p>
    </div>

    <div class="column one-third">
      <h1>One Third</h1>
      <p>More stuff goes here!</p>
    </div>
  </div>

  <div class="row">
    <div class="column half">
      <h1>Half</h1>
      <p>More stuff goes here!</p>
    </div>

    <div class="column half">
      <h1>Half</h1>
      <p>More stuff goes here!</p>
    </div>
  </div>

  <div class="row">
    <div class="column two-thirds">
      <h1>Two Thirds</h1>
      <p>More stuff goes here!</p>
    </div>

    <div class="column one-third">
      <h1>One Thirds</h1>
      <p>More stuff goes here!</p>
    </div>
  </div>
</div>
